@import url('./components/infoContainer/infoContainer.css');
@import url('./components/taskContainer/taskContainer.css');
@import url('./components/listContainer/listContainer.css');
@import url('./pages/login/login.css');
* {
  font-family: 'Helvetica';
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(178, 173, 173);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(223, 217, 217);
}

.headline {
  width: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 2px;
}
.headline:hover {
  cursor: inherit;
}
.categoryList,
.taskInfo {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  list-style: none;
}

.item {
  cursor: pointer;
  height: 30px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(213, 213, 219, 0.951);
  background-color: var(--color-bg-secondary);
  box-shadow: 1px 1px 1px 1px rgba(213, 213, 219, 0.951);
}

.item:hover {
  transform: scale(0.98);
}

.activeList, .activeTask {
  transform: scale(0.98);
}
input {
  border: none;
  background: none;
  padding: 5px;
  cursor: inherit;
}

input:focus {
  outline: none;
  caret-color: transparent;
}

.buttonsGrid {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px;
}

.formAdd {
  font-size: 13px;
  height: 30px;
}
button {
  background-color: inherit;
  border: none;
}

button:hover {
  background-color: #bacee2c4;
  color: white;
  cursor: pointer;
}
