@import url('./components/infoContainer/css/infoContainer.css');
@import url('./components/taskContainer/css/taskContainer.css');
@import url('./components/listContainer/css/listContainer.css');
@import url('./components/infoContainer/dataComponents/hyperLink/hyperlink.css');
@import url('./components/infoContainer/dataComponents//note/note.css');
@import url('./pages/login/login.css');
@import url('.//components/dashboard/css/dashboard.css');
* {
  font-family: Roboto, Helvetica, Arial, sans-serif;

  color: inherit;
  font-weight: inherit;
  letter-spacing: -0.2px;
}

html,
body {
  background-color: rgb(248, 249, 250);

  padding: 0;
  margin: 0;
  color: rgba(92, 89, 89, 0.864);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

.headline {
  width: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 2px;
}
.headline:hover {
  cursor: inherit;
}
.categoryList,
.taskInfo {
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  list-style: none;
}

input {
  position: absolute;
  border: none;
  background: none;
  padding: 5px;
  color: inherit;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.buttonsGrid {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px;
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
}

button:hover {
  background-color: #bacee2c4;
  color: white;
  cursor: pointer;
}
@keyframes loading {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.loading-slow {
  animation: loading 1s ease-in-out;
}

.loading-medium {
  animation: loading 0.5s ease-in-out;
}

.loading-fast {
  animation: loading 0.1s ease-in-out;
}

.loading-normal {
  animation: loading 0.2s ease-in-out;
}
