@import url('./components/infoContainer/infoContainer.css');
@import url('./components/taskContainer/taskContainer.css');
@import url('./components/listContainer/listContainer.css');
@import url('./pages/login/login.css');
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  font-weight: inherit;
  letter-spacing: -0.2px;
}
body {
  background-color: #f4f2f2;
  margin: 0;
  padding: 0;
  color: rgba(92, 89, 89, 0.864);
}
/* width */
::-webkit-scrollbar {
  display: none;
}

.headline {
  width: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 2px;
}
.headline:hover {
  cursor: inherit;
}
.categoryList,
.taskInfo {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  list-style: none;
}

.item {
  box-shadow: -2px 1px 1px 1px rgba(232, 232, 239, 0.951);
  cursor: pointer;
  height: 30px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
}

.item:hover {
  font-weight: 700;
}

.activeList,
.activeTask {
  font-weight: 700;
}
input {
  border: none;
  background: none;
  padding: 5px;
  cursor: inherit;
  color: inherit;
}

input:focus {
  outline: none;
  caret-color: transparent;
}

.buttonsGrid {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px;
  color: inherit;
}

.formAdd {
  font-size: 13px;
  height: 30px;
}
button {
  background-color: inherit;
  border: none;
}

button:hover {
  background-color: #bacee2c4;
  color: white;
  cursor: pointer;
}
