@media screen and (min-width: 1200px) {
  .Home {
    grid-template-columns: 0.7fr 2fr 1fr;
  }
  .HomeNoTask {
    grid-template-columns: 0.7fr 3fr 0fr;
  }
}

.Home {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0.5em;
}
.HomeNoTask {
  background-color: none;
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0.5em;
}
.nav-bar-item {
  text-align: center;
  background-color: rgb(205, 212, 218);
  color: white;
  margin: 10px;
}
