.taskContainer /* Parent */ {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  height: 500px;
  padding-top: 40px;
  box-shadow: 0px 0px 5px 2px #3ccd76;
  background-color: white;
}

.pendingTaskList {
  cursor: pointer;
  list-style: none;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}
