.taskContainer /* Parent */ {
  /* display: grid;
  position: relative;
  grid-template-rows: 0.5fr 4fr 0.5fr; */
  background-color: rgba(255, 255, 255, 0.805);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(52, 45, 233, 0.15);
}

.completedTaskList {
  cursor: pointer;
  list-style: none;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.pendingTasks,
.completedTasks {
  text-align: center;
  padding: 20px;
  font-size: large;
  background-color: var(--color-bg-secondary);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(162, 159, 159, 0.15);
  background-color: rgba(255, 255, 255, 0.805);
}

.pendingTaskList {
  cursor: pointer;
  list-style: none;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}
